@import '../settings/index';
@import '../global.scss';
@import '../block/header';
@import '../block/footer';
@import '../block/search_section';
@import '../settings/slick.scss';
@import '../settings/slick-theme.scss';

.tabs {
    &-list {
        margin: 0 0 60px;

        @include media('<=768px') {
            margin: 0 0 45px;
        }

        @include media('<=550px') {
            margin: 0 0 30px;
        }

        @include media('<=375px') {
            margin: 0 0 20px;
        }
        li {
            padding: 0 3px;

            @include media('<=tablet') {
                margin-bottom: 6px;
            }

            @include media('<=550px') {
                margin-bottom: 14px;
            }

            &.ui-state-active {
                a {
                    background-color: $active_color;
                    /* padding: 13px 27px; */
                    color: #fff;
                }

                a:hover {
                    background-color: #ec5849;
                    color: #fff;    
                }
            }
        }
        a {
            @include animate(color background-color);
            
            display: block;
            padding: 13px 20px; 
            background-color: #fff;
            line-height: 1;
            font-size: $product_category_fs;
            color: $font_color_dark;

            &:hover {
                background-color: #ec5849;
                color: #fff;
            }
        }

    }
}

.hot-product {
    position: relative;

    &::before {
        @include triangle (65px, $label_color, up-left);
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
        
    }

    &::after {
        position: absolute;
        top: 12px;
        left: 14px;
        content: '\f0e7';
        display: block;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
        color: #fff;
    }
}

.product-holder {
    @include animate (box-shadow);
    background-color: #fff;
    border: 1px solid #e7ecf2;
    cursor: pointer;

    &:hover {
        box-shadow: 0 15px 15px -7px #ccc;
    }

    .img-holder {
        display: block;
        height: 250px;
        background-color: #d4d4d4;
    }

    
    .product-info {
        padding: 20px 32px;
        border-bottom: 1px solid #e7ecf2;

        @include media('<=375px') {
            flex-direction: column;
            padding: 15px 32px;
        }


        .pr-info_container {
            
            flex-direction: column;
            align-items: flex-start;

            .product-name {
                font-size: $product_title_fs;
                line-height: 1;
                margin-bottom: 10px;
            }

            .product-category {
                font-size: $product_category_fs;
                color: $label_color;

                @include media('<=375px') {
                    margin-bottom: 15px;
                    font-size: 12px;
                }
            }
        }

        .product-price {
            font-family: $def_h_font, 'arial';
            font-size: $product_price_fs;
            align-self: center;

            @include media('<=375px') {
                align-self: flex-start;
            }

            
        }
        
    }

    .vendor {
        &-item {
           
        }

        &-info {
            padding: 17px 30px 21px;

            @include media('<=375px') {
                display: block;
            }
        }

        &-logo {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: #b5b5b5;
            border-radius: 15px;
            margin-right: 15px;
        }

        &-name {
            color: $font_color_light;
            font-size: $product_vendor_fs;
        }
    }
    
    .product-reiting {
        &_holder {
            .icon-holder {
                margin-right: 12px;
            }

            @include media('<=375px') {
                justify-content: flex-end;
            }
        }
        &_text {

            font-size: 12px;

            &:before {
                content: '(';
                color: $font_p_color;
            }

            &:after {
                content: ')';
                color: $font_p_color;
            }
        }


    }

}

.home-button-list {
    padding-top: 80px;
    padding-bottom: 105px;

    @include media ('<=768px') {
        padding-top: 60px;
        padding-bottom: 85px;
    }

    @include media('<=768px') {
        padding-top: 70px;
        padding-bottom: 90px;
    }

    @include media('<=550px') {
        padding-top: 55px;
        padding-bottom: 70px;
    }
    @include media('<=375px') {
        padding-top: 30px;
        padding-bottom: 40px;   
    }

    li {
        padding: 0 7px;

        .home-btn {
            @include media('<=375px') {
                margin-bottom: 10px;
                
            }
        }
    }
}


.slider {
    
    &-section {
        
        .col-4 {
            @include media ('<=1440px') {
                width: 50%;
            }

            @include media ('<=700px') {
                width: 100%;
            }
        }

        .slick-dots {
            bottom: -60px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            @include media ('<=550px') {
                bottom: -40px;
            }

            @include media ('<=375px') {
                bottom: -30px;
            }

            li {
                padding: 0 2px;
            }

            button {
                background-color: #e8e8e8;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 1px solid #b5b5b5;
            }

            .slick-active button {
                background-color: $label_color;
            }
        }

        .container-fluid {
            background-color: $white;
            padding-bottom: 120px;

            @include media ('<=1280px') {
                padding-bottom: 80px;
            }

            @include media ('<=550px') {
                padding-bottom: 50px;
            }

            @include media ('<=375px') {
                padding-bottom: 35px;
            }
            
            .sliders {
                outline: none;
            }
        }
    }
}