@import '../settings/index';
@import '../global.scss';
@import '../block/_header.scss';
@import '../block/_footer.scss';

.bg-block {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.visual {
    &-section {
        min-height: 300px;
    }

    &-h {
        color: #fff;
        margin-bottom: 30px;
    }
}

.input-holder {
    width: 670px;

    @include media('<=700px'){
        width: 320px;
    }
    
    input {
        @include animate(box-shadow);
        @include placeholder {
        color: #90a4ae;
        }

        font-size: $product_category_fs;
        border: none;
        border-radius: 3px;
        width: 100%;
        height: 60px;
        padding: 15px 25px;
        box-shadow: 0 1px 10px rgba(100, 100, 100, 0.75);
        
        &:focus,&:active {
            box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
            outline: none;
        }

    }
}

.breadcrumbs {
    
    &-holder {
        padding-left: 0;

        .breadcrumbs-nav {

            &_list {
                padding-top: 50px;
            }
        }
    }
}

.main {

    &-bar {
        width: 870px;
    }

    .item {

        &-details {
            margin-bottom: 49px;

            &-img {
                border: 1px solid #dcdcdc;
                width: 864px;
                height: 460px;

                .pic {
                    width: 830px;
                    height: 420px;
                    margin: 20px 17px 20px 17px;
                    background-color: #d4d4d4;
                }
            }

            &-title {
                font-size: 30px;
                font-family: $def_font;
                padding-top: 40px;
                margin-bottom: 32px;
            }

            &-text {
                font-family: $def_p_font;
                font-size: 16px;
                color: #707070;
                line-height: 23px;
            }
        }

        &-options {

            &-buttons {
                color: #fff;

                .button {

                    &-1 {
                        padding: 19px 25px 19px 25px;
                        background-color: #e74c3c;
                        color: inherit;
                        margin-right: 18px;
                    }

                    &-2 {
                        padding: 19px 35px 19px 35px;
                        background-color: #455a64;
                        color: inherit;
                        margin-right: 18px;
                    }

                    &-3 {
                        padding: 19px 25px 19px 25px;
                        background-color: #8bc34a;
                        color: inherit;
                    }
                }

                .btn-options {

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            &-social {
                
                .s-link {
                    margin-bottom: 55px;
                    
                    a {
                        display: flex;
                        width: 54px;
                        height: 56px;
                        margin-left: 3px;

                        &:hover {
                            opacity: .8;
                        }

                        .fab {
                            color: #fff;
                        }
                    }

                    &-1 {
                        background-color: #6370b6;
                    }

                    &-2 {
                        background-color: #5694c4;
                    }

                    &-3 {
                        background-color: #4f71ce;
                    }

                    &-4 {
                        background-color: #d32f2f;
                    }
                }
            }
        }
    }
}

.tabs-nav {
    width: 870px;
    border: 1px solid #cccc;

    li {
        width: 25%;
        height: 60px;
        border-left: 1px solid #cccc;
        font-family: 'roboto_medium', arial;
        color: #b3bdc2;
        cursor: pointer;

        &:first-child {
            border-left: none;
        }

        a {
            width: 100%;
            height: 100%;

                &:hover,
                &:active {
                border-bottom: 3px solid #8bc34a;
            }
        }
    }
}

#tab-1 {
    width: 400px;
    height: 220px;
    border: 1px solid #777;
}

#tab-2 {
    width: 400px;
    height: 220px;
    border: 1px solid #777;
}

