@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/reset-css/reset';
@import 'settings/_index.scss';
@import 'base/index';
@import 'theme/index';
@import 'settings/variables';


/* header {
    @extend %#{$ff-default};
} */


span {
    color: $font_color_dark;
}


%list-reset {
    list-style: none;
}

body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $def_font, 'arial';
    color: $font_color_dark;
    line-height: 1;
}

a {
    text-decoration: none;
    color: inherit;

    &:focus {
        outline: none;
    }
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;

    &-fluid {
        max-width: 100%;
        background-color: $conatiner_bg_light;
        padding-top: 120px;
    }
}


.row {
margin: 0 -15px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $def_h_font, 'arial';
}

h2 {
    font-size: $h2_fs;
    margin: 0 0 60px;
}

h3 {
    font-size: $h3_fs;
}

h4 {
    font-size: $h4_fs;
}

li {
    &:focus {
        outline: none;
    }
}

.tabs-list {
    @extend %list-reset;
    margin-bottom: 60px;
}

.text-center {
    text-align: center;
}
.d-f {
    display: flex;
}

.fw-w {
    flex-wrap: wrap;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.ai-c {
    align-items: center;
}

.fd-c {
    flex-direction: column;
}

.col {
    padding: 0 15px;
    margin: 0 0 32px;
    height: 100%;

    &-4 {
        width: 25%;
    
        @include media ('<=1024px') {
            width: calc(100% / 3);
        }
    
        @include media ('<=768px') {
            width: 50%;
        }
    
        @include media ('<=700px') {
            width: 100%;
        }
    }

    &-3 {
        width: calc(100% / 3);
    }
}


.index-header {
    margin: 20px 0;
    color: $active_color;
}